.cls-header {
  height: 50px;
  border: solid 1px black;
  text-align: center;
  background-color: #000080;
  color: white;
}

.cls-side {
  width: 150px;
  height: 300px;
  border: solid 1px black;
  text-align: center;
}

.cls-ofl {
  overflow: hidden;
  width: 100%;
}

.cls-flside {
  width: 20%;
  float: left;
  height: 700px;
  background-color: blue;
  border: solid 1px black;
}

.ag-fresh .ag-header-cell-label .ag-header-cell-text {
  display: inline-block;
  text-align: center;
}

.ag-fresh .ag-header-cell-label .ag-header-icon {
  vertical-align: top;
}

.ag-fresh .ag-header-cell-label > span {
  float: none;
}

.number-cell {
  text-align: right;
}
.cls-rt {
  width: calc(80% - 40px);
  /* height: 700px; */
  float: right;
  margin: 20px;
  background-color: #fff;
}
