.ag-fresh {
  font-size: 14px;
}
.ag-header {
  height: 51px !important;
  min-height: 51px !important;
}
.ag-header-row {
  height: 51px !important;
}
.ag-header-cell-label {
  font-family: "Bold Font";
  /* text-transform: uppercase; */
  color: #333;
  padding: 15px 12px;
  text-align: center;
  overflow: initial !important;
  white-space: normal;
  display: flex;
  justify-content: center;
}
.ag-header-cell {
  background-color: #cbcbcb;
}
.ag-row {
  border-bottom: 2px solid #f1f2f2;
}
.ag-cell {
  font-family: "Medium Font";
  color: #696969;
  background-color: #fff;
  padding: 12px 12px;
  white-space: initial !important;
  text-align: center;
  text-overflow: initial !important;
}
.ag-cell a {
  color: #696969;
}
.ag-menu {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
}
.ag-filter-select {
  margin: 0;
  width: 100%;
  margin-bottom: 5px;
}
.ag-icon-asc,
.ag-icon-desc {
  background-image: url("./../img/down-arrow.png") !important;
  background-size: 11px !important;
}
.ag-icon-desc {
  transform: rotate(180deg);
}
.ag-paging-page-summary-panel {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.ag-paging-page-summary-panel > span {
  margin: 0 5px;
}
.ag-paging-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Bold Font";
  color: #969696;
  padding: 20px 0;
}
.ag-paging-button button {
  background-color: #39b54a;
  color: #fff;
  border: 1px solid #39b54a;
  font-family: "Bold Font";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: 90px;
  padding: 5px;
  font-size: 12px;
  margin: 0 5px;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}
.ag-icon-previous + button {
  margin-right: 10px;
}
