.App {
  text-align: center;
}

.cls-header {
  height: 100px;
  border: solid 1px black;
}

.cls-hide {
  display: none;
}

.cls-show {
  display: block;
}

/* chetan css starts */

@font-face {
  font-family: "Bold Font";
  src: url("../fonts/GoogleSans-Bold.ttf");
}
@font-face {
  font-family: "Medium Font";
  src: url("../fonts/GoogleSans-Medium.ttf");
}
@font-face {
  font-family: "Regular Font";
  src: url("../fonts/GoogleSans-Regular.ttf");
}
@font-face {
  font-family: "Italic Font";
  src: url("../fonts/GoogleSans-Italic.ttf");
}

body {
  background-color: #f1f2f2;
  color: #000;
  padding: 0;
  margin: 0;
}
h2,
label,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
input:focus,
button:focus {
  outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
input[type="checkbox"] {
  display: none;
}
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}

h2 {
  color: #333;
  font-size: 26px;
  font-family: "Bold Font";
}
.butn {
  background-color: #39b54a;
  color: #fff;
  border: 1px solid #39b54a;
  font-family: "Bold Font";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: 120px;
  padding: 10px;
  border-radius: 50px;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.butn:hover {
  background-color: #fff;
  color: #39b54a;
}
.cancel-butn {
  background-color: #9dafbd;
  border-color: #9dafbd;
}
.cancel-butn:hover {
  color: #9dafbd;
}
.blue-butn {
  background-color: #002d73;
  border-color: #002d73;
}
.blue-butn:hover {
  color: #002d73;
}
.light-blue-butn {
  background-color: #29abe2;
  border-color: #29abe2;
}
.light-blue-butn:hover {
  color: #29abe2;
}
.clr-green {
  color: #39b54a;
}
.clr-yellow {
  color: #ffb400;
}
.clr-red {
  color: #eb0029;
}
.clr-black {
  color: #000;
}

/* login starts */
.login-sect {
  max-width: 700px;
  width: 100%;
}
.login-between {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.logo {
  width: 212px;
  margin: 0 auto 35px;
}
.login-cntr {
  background-color: #fff;
}
h2 span {
  color: #979797;
  font-size: 16px;
  font-family: "Medium Font";
}
.login-cntr h2 {
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 30px;
  color: #092c74;
}
.login-fields-cntr {
  padding: 25px 30px 30px;
}
.login-fields label {
  display: block;
  font-family: "Medium Font";
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.login-fields input {
  width: 100%;
  border: 0;
  /* font-size: 18px; */
  letter-spacing: 0.5px;
  background-color: #ededed;
  padding: 15px 25px;
  font-family: "Medium Font";
}
.login-fields input::placeholder {
  font-family: "Italic Font";
  color: #77787b;
}
.login-fields {
  margin-bottom: 25px;
}
.login-input-cntr .login-fields:last-of-type {
  margin-bottom: 0px;
}
.remember-forgot {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remember-forgot label {
  font-family: "Medium Font";
  letter-spacing: 0.5px;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.remember-forgot a {
  font-family: "Medium Font";
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
  text-decoration-color: transparent;
}
.remember-forgot a:hover {
  text-decoration-color: inherit;
}
.remember-forgot input + label::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border: 1px solid #bebebe;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.remember-forgot input:checked + label::after {
  content: "";
  position: absolute;
  left: 9px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.login-cntr .butn {
  margin-right: 20px;
}
.login-cntr .butn:last-child {
  margin-right: 0px;
}
/* login ends */

/* user agreement starts */
.agreement-pdf {
  width: 100%;
  height: calc(100vh - 337px);
  border: 0;
}
.user-agreement-sect {
  max-width: 90%;
}
.user-agreement-sect h2 {
  padding-right: 60px;
}
.user-agreement-sect .login-fields-cntr {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
.user-agreement-butns {
  padding: 30px;
  padding-top: 0;
}
.user-agree-close {
  width: 16px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  line-height: 1;
}
/* user agreement ends */

/* shipping details starts */
.title-sect {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.title-sect .butn {
  margin-right: 15px;
  margin-top: 0;
}
.title-sect .butn:last-child {
  margin-right: 0px;
}
.title-sect input[type="search"] {
  border: 0;
  letter-spacing: 0.5px;
  background-color: #f1f2f2;
  padding: 8px 15px;
  font-family: "Medium Font";
  font-size: 14px;
  margin-right: 25px;
  width: 250px;
}
.title-sect input::placeholder {
  font-family: "Italic Font";
  color: #77787b;
  font-size: 14px;
}
table {
  font-size: 14px;
  width: 100%;
  /* white-space: nowrap; */
}
.table-scroll {
  overflow: auto;
}
.table-scroll::-webkit-scrollbar {
  height: 7px;
}
.table-scroll::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 10px;
}
.table-scroll::-webkit-scrollbar-thumb {
  background: #cac8c8;
  border-radius: 10px;
}
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #a5a3a3;
}
table th {
  font-family: "Bold Font";
  text-transform: uppercase;
  color: #333;
  background-color: #cbcbcb;
  /* padding: 25px 35px; */
  padding: 25px 13px;
  white-space: nowrap;
}
table td {
  font-family: "Medium Font";
  color: #696969;
  background-color: #fff;
  /* padding: 12px 35px; */
  padding: 12px 13px;
}
table tbody tr {
  border-bottom: 2px solid #f1f2f2;
}
table tbody tr:last-child {
  border-bottom: 0;
}
.down-arrow {
  width: 11px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  bottom: 1px;
  line-height: 1;
}
.shipment-img {
  width: 65px;
  display: block;
  margin: auto;
}
.status-img {
  display: block;
  width: 45px;
  margin: auto;
}
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: #fff;
  border-width: 7px 10px 7px 0;
  left: 6px;
}
.tooltip-inner {
  padding: 5px 12px;
  background-color: #fff;
  color: #696969;
  font-family: "Medium Font";
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.18);
  border-radius: 0;
  margin-left: 10px;
}
/* shipping details ends */

/* shipping details 2 starts */
.cust-tabs {
  border-bottom: 1px solid #d6d6d6;
  margin-top: 15px;
}
.cust-tabs a {
  font-size: 22px;
  font-family: "Bold Font";
  color: #a3a3a3;
  display: inline-block;
  padding: 15px 30px;
  border-bottom: 5px solid transparent;
  margin-right: 40px;
}
.cust-tabs a.active {
  color: #333;
  border-bottom-color: #29abe2;
}
.shipment-big-img {
  /* width: 95px; */
  display: inline-block;
}
.cust-tabs-content {
  padding: 30px;
}
.cust-tabs-content .tab-pane .row .details-border:last-child {
  border-right: 0;
}
.cust-tabs-content .tab-pane .row .details-border:first-child {
  align-items: flex-start;
}
.ship-detail-maps {
  background-color: #f1f2f2;
  margin: 15px 0;
}
.shipment-track {
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.est-title {
  font-family: "Regular Font";
  color: #a3a3a3;
  font-size: 14px;
  margin-bottom: 3px;
}
.est-time {
  font-family: "Bold Font";
  color: #333;
  font-size: 14px;
}
.ship-white {
  /* width: 55px; */
  width: 45px;
}
.ship-white-cntr {
  /* height: 66px; */
  height: 50px;
  /* width: 90px; */
  flex: 0 0 60px;
  background-color: #29abe2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.shipment-track-cntr {
  padding: 10px;
  padding-bottom: 0px;
}
.track-details {
  padding: 30px 20px;
}
.track-details .track-line-cntr:last-child {
  padding-bottom: 0;
}
.track-details .track-line-cntr:last-child:after {
  display: none;
}
.track-img-cntr {
  flex: 0 0 50px;
  height: 50px;
  background-color: #c1c1c1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.track-line-cntr:after {
  content: "";
  position: absolute;
  left: 25px;
  width: 5px;
  height: 100%;
  background-color: #c1c1c1;
  transform: translateX(-3px);
  bottom: 0;
  z-index: -1;
}
.track-img {
  width: 30px;
}
.track-details p {
  color: #969797;
  font-family: "Medium Font";
  font-size: 14px;
  padding-left: 20px;
  line-height: 1.3;
}
.track-line-cntr {
  display: flex;
  padding-bottom: 45px;
  position: relative;
  z-index: 0;
}
.track-line-cntr.active .track-img-cntr,
.track-line-cntr.active:after {
  background-color: #39b54a;
}
.track-line-cntr.active p {
  color: #5a5a5a;
}
.track-line-cntr.active p span {
  color: #000;
}
.track-line-cntr.active .track-img img {
  filter: brightness(0) invert(1);
}
.details-title {
  color: #002d73;
  font-size: 16px;
  font-family: "Medium Font";
  margin-bottom: 5px;
}
.details-para {
  color: #39b54a;
  font-size: 14px;
  font-family: "Regular Font";
}
.details-border {
  border-right: 1px solid #d6d6d6;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
/* shipping details 2 ends */

/* chetan css ends */

/* -------------------------------Deepak Savani----------------------------- */

.cls-header-1 {
  height: auto;
  background-color: #fff;
}

.cls-header-1 .row {
  margin: 0;
}
.header-log {
  width: 145px;
  padding: 10px;
}

.header-btn {
  background-color: #29aae3;
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 5px 20px;
  font-size: 12px;
  margin-top: 10px;
}

.header-ul {
  list-style: none;
  display: flex;
  float: right;
  margin: 0;
}
.header-ul li {
  padding: 0 15px;
  border-right: 1px solid #cccccc;
}
.header-ul li:last-child {
  margin: 0;
  border-right: none;
  padding: 0;
}

.header-bell-icon {
  height: 35px;
  width: 35px;
  margin-top: 7px;
  cursor: pointer;
}
.header-chat-icon {
  height: 30px;
  width: 35px;
  padding-right: 7px;
  cursor: pointer;
}

.header-login-actore-icon {
  height: 50px;
  width: 50px;
  padding: 5px 0;
}
.login-name {
  font-size: 14px;
}

.login-actore-text {
  margin: 0;
  font-size: 12px;
  color: #999;
  font-size: 10px;
  line-height: 7px;
}

.header-ul-login-dtls {
  list-style: none;
  display: flex;
  padding: 0;
}

.header-ul-login-dtls li {
  padding-right: 5px;
  border: none;
}
.header-ul-login-dtls li:last-child {
  margin-top: 5px;
}

.cls-flside {
  width: 20%;
  float: left;
  height: 700px;
  background-color: #0142aa;
  border: none;
}

.header-phone-li {
  padding: 10px;
}
.header-phone-icon {
  height: 30px;
  width: 35px;
  cursor: pointer;
}
.sidemenu-ul-li {
  padding: 15px;
  border-bottom: 0.5px solid #265eb5;
  color: white;
  font-weight: 400;
}

.sidemenu-ul {
  padding: 0;
  list-style: none;
}
.header-greencounter-icon {
  height: 30px;
  width: 35px;
  cursor: pointer;
  margin-right: 10px;
}

.qr-code-dropdown {
  position: absolute;
  will-change: transform;
  top: 8px !important;
  left: -120px !important;
  transform: translate3d(0px, 30px, 0px);
}

.profile-dropdown {
  top: 18px !important;
  right: 0;
  left: -35px !important;
}

.rmarrow .dropdown-toggle::after {
  display: none;
}

.rmstylebtn {
  border: none;
  background-color: white;
  padding: 0;
}
.drp-usericon {
  width: 30px;
  height: 30px;
}
.profile-ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.profile-ul li {
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
.profile-ul li:last-child {
  border: none;
  padding: 7px;
  margin: 0;
}
.lastlogin-ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.lastlogin-lbl {
  font-size: 9px;
  display: block;
}

.lastlogin-ul li {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #cccccc;
  border: none;
}
.lastlogin-ul li:last-child {
  border: none;
  padding: 4px;
}
.activitylog-li {
  color: #092c74;
  padding: 10px !important;
}
.activitylog-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
}
.activitylog-li:hover {
  background-color: #cccccc;
}
.profile-setting-li {
  color: #092c74;
  padding: 10px !important;
}
.profile-setting-li:hover {
  background-color: #cccccc;
}
.logout-li {
  color: #092c74;
}
.logout-li:hover {
  background-color: #cccccc;
}
.profilesetting-icon {
  width: 30px;
  height: 30px;
}
.lastlogin-li {
  padding: 0px 0px 0px 10px !important;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
.lbl-cursor {
  cursor: pointer;
}
.shipmentli {
  padding: 0;
}
.shipmentli .card {
  border: 0;
  border-radius: 0;
}

.shipmentli .card .card-header {
  border: none;
  background-color: #0142aa;
  color: white;
  padding: 10px 0px 0px;
  border-radius: 0;
}
.shipmentli .card .collapsing {
  background-color: #0142aa;
}

.shipmentli .card .card-header button {
  color: white;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
}
.shipmentli .card .card-header button:hover {
  text-decoration: none;
}
.shipmentli .card .collapse .card-body {
  background-color: #0142aa;
  padding: 0px 0px 0px 55px;
  color: #8fb7f7;
}
.shipment-ul {
  list-style: none;
  display: block;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border: 1px solid #8fb7f7;
}
.shipment-ul li {
  padding: 5px;
}
.shipmentli .card .show {
  background-color: #0142aa;
  text-decoration: none;
}

.shipment-ul-lilbl2 {
  float: right;
  text-align: right;
}
.sidemenu-ul2 {
  list-style: none;
  display: flex;
  padding: 0px;
  color: white;
  border-top: 1px solid #265eb5;
}
.sidemenu-ul2 li {
  text-align: center;
  padding: 15px;
  border-right: 1px solid #265eb5;
}
.sidemenu-ul2 li:last-child {
  border-right: none;
}
.inofIcon {
  width: 35px;
  height: 35px;
}
.settingIcon {
  width: 35px;
  height: 35px;
}
.popovercls .popover-header {
  background-color: white;
}
/* --------------------------------------------------------------------------- */
