.App {
  text-align: center;
}

.cls-header {
  height: 100px;
  border: solid 1px black;
}

.cls-hide {
  display: none;
}

.cls-show {
  display: block;
}

/* chetan css starts */

@font-face {
  font-family: "Bold Font";
  src: url("../fonts/GoogleSans-Bold.ttf");
}
@font-face {
  font-family: "Medium Font";
  src: url("../fonts/GoogleSans-Medium.ttf");
}
@font-face {
  font-family: "Regular Font";
  src: url("../fonts/GoogleSans-Regular.ttf");
}
@font-face {
  font-family: "Italic Font";
  src: url("../fonts/GoogleSans-Italic.ttf");
}

body {
  background-color: #f1f2f2;
  color: #000;
  padding: 0;
  margin: 0;
}
h2,
h3,
label,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}

h2 {
  color: #333;
  font-size: 20px;
  font-family: "Bold Font";
}
h3 {
  color: #333;
  font-size: 18px;
  font-family: "Bold Font";
}
.min-hei-auto {
  min-height: auto;
}
.butn {
  background-color: #39b54a;
  color: #fff;
  border: 1px solid #39b54a;
  font-family: "Bold Font";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: 120px;
  padding: 10px;
  border-radius: 50px;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.butn:hover {
  background-color: #fff;
  color: #39b54a;
}
.cancel-butn {
  background-color: #9dafbd;
  border-color: #9dafbd;
}
.cancel-butn:hover {
  color: #9dafbd;
}
.blue-butn {
  background-color: #002d73;
  border-color: #002d73;
}
.blue-butn:hover {
  color: #002d73;
}
.light-blue-butn {
  background-color: #29abe2;
  border-color: #29abe2;
}
.light-blue-butn:hover {
  color: #29abe2;
}
.white-butn {
  background-color: #fff;
  border-color: #333;
  color: #333;
}
.white-butn:hover {
  background-color: #333;
  color: #fff;
}
.clr-green {
  color: #39b54a;
}
.clr-yellow {
  color: #ffb400;
}
.clr-red {
  color: #eb0029;
}
.clr-black {
  color: #000;
}

/* login starts */
.login-sect {
  max-width: 700px;
  width: 100%;
}
.login-between {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.logo {
  width: 212px;
  margin: 0 auto 35px;
}
.login-cntr {
  background-color: #fff;
}
h2 span {
  color: #979797;
  font-size: 16px;
  font-family: "Medium Font";
}
.login-cntr h2 {
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 30px;
  color: #092c74;
}
.login-fields-cntr {
  padding: 25px 30px 30px;
}
.login-fields label {
  display: block;
  font-family: "Medium Font";
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.login-fields input,
.login-fields select {
  width: 100%;
  border: 0;
  /* font-size: 18px; */
  letter-spacing: 0.5px;
  background-color: #ededed;
  padding: 15px 25px;
  font-family: "Medium Font";
}
.login-fields select {
  background: #ededed url("./../img/down-arrow.png") no-repeat right 25px center;
  padding-right: 50px;
}
.login-fields input::placeholder {
  font-family: "Italic Font";
  color: #77787b;
}
.login-fields {
  margin-bottom: 25px;
}
.login-input-cntr .login-fields:last-of-type {
  margin-bottom: 0px;
}
.remember-forgot {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remember-forgot label {
  font-family: "Medium Font";
  letter-spacing: 0.5px;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  margin: 0 15px;
}
.remember-forgot a {
  font-family: "Medium Font";
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
  text-decoration-color: transparent;
}
.remember-forgot a:hover {
  text-decoration-color: inherit;
}
.remember-forgot input + label::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border: 1px solid #bebebe;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.remember-forgot input:checked + label::after {
  content: "";
  position: absolute;
  left: 9px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.login-cntr .butn {
  margin-right: 20px;
}
.login-cntr .butn:last-child {
  margin-right: 0px;
}
.login-butn:disabled {
  pointer-events: none;
  opacity: 0.6;
  /* cursor: not-allowed; */
}
.rct-node-icon {
  display: none;
}
.salesuserPopup .modal-body {
  padding: 30px 20px !important;
  max-height: calc(100vh - 200px);
  overflow: auto;
}
/* login ends */

/* user agreement starts */
.agreement-pdf {
  width: 100%;
  height: calc(100vh - 337px);
  border: 0;
}
.user-agreement-sect {
  max-width: 90%;
}
.user-agreement-sect h2 {
  padding-right: 60px;
}
.user-agreement-sect .login-fields-cntr {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
.user-agreement-butns {
  padding: 30px;
  padding-top: 0;
}
.user-agree-close {
  width: 16px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  line-height: 1;
}
/* user agreement ends */

/* shipping details starts */
.title-sect {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.list-map .butn {
  padding: 5px;
  font-size: 12px;
  min-width: 100px;
}
.title-sect .butn {
  margin-right: 15px;
  margin-top: 0;
}
.title-sect .butn:last-child {
  margin-right: 0px;
}
.title-sect input[type="search"] {
  border: 0;
  letter-spacing: 0.5px;
  background-color: #f1f2f2;
  padding: 8px 15px;
  font-family: "Medium Font";
  font-size: 14px;
  width: 250px;
}
.title-sect input::placeholder {
  font-family: "Italic Font";
  color: #77787b;
  font-size: 14px;
}
table {
  font-size: 14px;
  width: 100%;
  /* white-space: nowrap; */
}
.table-scroll {
  overflow: auto;
}
.table-scroll::-webkit-scrollbar {
  height: 7px;
}
.table-scroll::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 10px;
}
.table-scroll::-webkit-scrollbar-thumb {
  background: #cac8c8;
  border-radius: 10px;
}
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #a5a3a3;
}
table th {
  font-family: "Bold Font";
  text-transform: uppercase;
  color: #333;
  background-color: #cbcbcb;
  /* padding: 25px 35px; */
  padding: 25px 12px;
  white-space: nowrap;
}
table td {
  font-family: "Medium Font";
  color: #696969;
  background-color: #fff;
  /* padding: 12px 35px; */
  padding: 12px 12px;
}
table tbody tr {
  border-bottom: 2px solid #f1f2f2;
}
table tbody tr:last-child {
  border-bottom: 0;
}
.down-arrow {
  width: 11px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  bottom: 1px;
  line-height: 1;
}
.shipment-img {
  width: 45px;
  display: block;
  margin: auto;
}
.status-img {
  display: block;
  width: 35px;
  margin: auto;
}
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: #fff;
  border-width: 7px 10px 7px 0;
  left: 6px;
}
.tooltip-inner {
  padding: 5px 12px;
  background-color: #fff;
  color: #696969;
  font-family: "Medium Font";
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.18);
  border-radius: 0;
  margin-left: 10px;
}
.map-tab {
  position: relative;
  min-height: calc(100vh - 163px);
}
.max3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.ship-summ-table .rt-tr .rt-th:last-child {
  background-image: none;
}
/* shipping details ends */

/* shipping details 2 starts */
.cust-tabs {
  border-bottom: 1px solid #d6d6d6;
}
.cust-tabs a {
  font-size: 16px;
  font-family: "Bold Font";
  color: #a3a3a3;
  display: inline-block;
  padding: 7px 30px;
  border-bottom: 3px solid transparent;
  margin-right: 20px;
}
.cust-tabs a.active {
  color: #333;
  border-bottom-color: #29abe2;
}
.shipment-big-img {
  /* width: 95px; */
  display: inline-block;
}
.cust-tabs-content > div {
  padding: 20px 30px;
}
.cust-tabs-content .tab-pane .row .details-border:last-child {
  border-right: 0;
}
.cust-tabs-content .tab-pane .row .details-border:first-child {
  align-items: flex-start;
}
.ship-detail-maps {
  background-color: #f1f2f2;
  margin: 15px 0;
}
.shipment-track {
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.est-title {
  font-family: "Regular Font";
  color: #a3a3a3;
  font-size: 14px;
  margin-bottom: 3px;
}
.est-time {
  font-family: "Bold Font";
  color: #333;
  font-size: 14px;
}
.ship-white {
  /* width: 55px; */
  width: 45px;
}
.ship-white-cntr {
  /* height: 66px; */
  height: 50px;
  /* width: 90px; */
  flex: 0 0 60px;
  background-color: #29abe2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.shipment-track-cntr {
  padding: 10px;
  padding-bottom: 0px;
}
.track-details {
  padding: 30px 20px;
}
.track-details .track-line-cntr:last-child {
  padding-bottom: 0;
}
.track-details .track-line-cntr:last-child:after {
  display: none;
}
.track-img-cntr {
  flex: 0 0 50px;
  height: 50px;
  background-color: #c1c1c1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.track-line-cntr:after {
  content: "";
  position: absolute;
  left: 25px;
  width: 5px;
  height: 100%;
  background-color: #c1c1c1;
  transform: translateX(-3px);
  bottom: 0;
  z-index: -1;
}
.track-hide {
  display: none;
}
.track-img {
  width: 30px;
}
.track-details p {
  color: #969797;
  font-family: "Medium Font";
  font-size: 14px;
  padding-left: 20px;
  line-height: 1.3;
}
.track-line-cntr {
  display: flex;
  padding-bottom: 45px;
  position: relative;
  z-index: 0;
}
.track-line-cntr.active .track-img-cntr,
.track-line-cntr.active:after {
  background-color: #39b54a;
}
.track-line-cntr.active p {
  color: #5a5a5a;
}
.track-line-cntr.active p span {
  color: #000;
}
.track-line-cntr.active .track-img img {
  filter: brightness(0) invert(1);
}
.details-title {
  color: #002d73;
  font-size: 16px;
  font-family: "Medium Font";
  margin-bottom: 5px;
}
.details-para {
  color: #39b54a;
  font-size: 14px;
  font-family: "Regular Font";
}
.details-border {
  border-right: 1px solid #d6d6d6;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.sect-padd {
  padding: 20px 30px;
  border-bottom: 1px solid #999;
}
.sect-padd:last-child {
  border-bottom: 0;
}
.sect-padd > .row:last-child {
  margin-bottom: -20px;
}
.shipper-details .details-para {
  color: #636466;
}
.shipper-details .details-title {
  font-size: 15px;
}
.details-heading {
  font-family: "Bold Font";
  color: #333333;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.shipper-details {
  align-items: flex-start;
  justify-content: flex-start;
}
.view-btn {
  font-size: 10px;
  min-width: 90px;
  padding: 7px;
  margin-top: 0;
  margin-bottom: 20px;
}
.cust-tabs-content .tab-pane .mid-border.row .details-border:nth-child(even) {
  border-right: 0;
}
.less-btn {
  background-color: #474747;
  border-color: #474747;
}
.less-btn:hover {
  color: #474747;
}
.collapse-sect {
  padding-top: 20px;
  border-top: 1px solid #d6d6d6;
}
.progress-sect span {
  font-family: "Bold Font";
  font-size: 18px;
}
.progress-sect .progress {
  height: 5px;
  border-radius: 0;
  overflow: initial;
  /* width: 100%; */
  /* margin: 0 40px; */
}
.progress-sect .progress-bar {
  background-color: #ffb400;
  position: relative;
}
.progress-sect .progress-bar:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  right: -1px;
  top: 50%;
  background-color: #ffb400;
  border-radius: 50%;
  transform: translateY(-50%);
}
.pol-pod-progress {
  position: relative;
  width: 100%;
  margin: 0 40px;
}
.pol-pod-percent {
  position: absolute;
  bottom: 100%;
  left: 30%;
  transform: translate(-25px, -10px);
  font-size: 14px !important;
  font-family: "Regular Font" !important;
  background: #39b54a;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}
.desti-places span {
  font-size: 16px;
  color: #333;
}
.desti-places {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress-sect {
  /*  */
  padding: 60px 40px 0px 30px;
}
.ship-detail-map {
  height: 300px;
}
.map-icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.source-icon {
  background-color: #39b54a;
}
.desti-icon {
  background-color: #eb0029;
}
.map-icon img {
  width: 25px;
}
.file-act-icons {
  width: 15px;
  line-height: 1;
  margin-right: 15px;
  cursor: pointer;
}
.file-act-cntr {
  display: flex;
  align-items: center;
}
.file-act-cntr .file-act-icons:last-child {
  margin-right: 0;
}
.delete-popup {
  text-align: center;
}
.delete-popup .modal-body {
  padding: 40px;
}
.delete-popup .butn {
  margin-right: 20px;
}
.delete-popup .butn:last-child {
  margin-right: 0px;
}
.rename-cntr input,
.rename-cntr select {
  padding: 10px 20px;
}
.delete-popup .login-fields {
  margin-bottom: 0;
}
.add-docu-btn {
  text-align: right;
  margin-bottom: 20px;
}
.add-docu-btn .butn {
  font-size: 12px;
  padding-right: 20px;
  padding-left: 20px;
}
.file-upload + label {
  border: 1px solid #99afc9;
  border-radius: 8px;
  padding: 10px;
  text-align: center !important;
  margin-top: 15px;
  cursor: pointer;
  font-family: "Bold Font";
  color: #002d73;
  margin: 0 !important;
  width: 100% !important;
  font-size: 14px;
}
.file-icon {
  width: 15px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -1px;
}
.file-name {
  font-family: "Regular Font";
  font-size: 14px;
  width: calc(100% - 150px);
  margin-left: auto;
}
.package-popup {
  max-width: 100%;
  margin: 0;
}
.package-popup .modal-content {
  border-radius: 0;
}
.package-popup .modal-body {
  padding: 20px;
}
/* shipping details 2 ends */

/* shipment planner starts */
.title-border {
  border-bottom: 1px solid #d6d6d6;
}
.rate-title-cntr {
  position: relative;
}
.iconSelection {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 14px;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
}
.shipmentTypeIconCntr,
.modeTransIconCntr,
.cntrLoadIconCntr,
.cbmIconCntr,
.typeMoveIconCntr,
.equipTypeIconCntr /* addressIconCntr */ {
  display: block !important;
}
#equipTypeInner {
  margin-top: 15px;
}
.planner-cntr {
  padding: 30px 0px 30px 30px;
}
.planner-cntr select,
.planner-cntr input {
  font-size: 14px;
  font-family: "Regular Font";
}
.planner-cntr label {
  font-size: 15px;
}
.planner-cntr .login-fields {
  margin-bottom: 30px;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-wrapper input {
  background: #ededed url(./../img/calendar.png) no-repeat right 25px center;
  background-size: 20px;
  padding-right: 60px;
}
.planner-cntr .butn {
  margin-top: 45px;
  min-width: 175px;
}
.full-map .ship-detail-map {
  height: 100%;
}
.full-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.map-circ {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.desti-circ {
  background-color: #eb0029;
}
.source-circ {
  background-color: #39b449;
}
.planner-top-butns .butn {
  font-size: 12px;
  min-width: 150px;
  padding: 8px;
  margin-top: 0;
  margin-right: 20px;
}
.planner-top-butns .butn:last-child {
  margin-right: 0;
}
.planner-top-butns {
  text-align: right;
  padding: 15px 0;
}
.full-map-cntr {
  position: relative;
  height: calc(100% - 65px);
}
.transit-sect {
  padding: 20px 40px;
  border-bottom: 1px solid #d6d6d6;
}
.transit-popup {
  margin: 10px auto;
  max-width: 60%;
}
.transit-sect .details-title {
  color: #39b54a;
  letter-spacing: 0.5px;
}
.transit-sect .details-para {
  color: #002d73;
  letter-spacing: 0.5px;
  font-family: "Medium Font";
}
.transit-sect .details-border {
  /* padding-top: 15px;
  padding-bottom: 15px; */
  text-align: left;
  margin-bottom: 0;
}
.transit-sect .details-border:first-child {
  align-items: initial;
}
.transit-sect .details-border:last-child {
  align-items: flex-end;
  border: 0;
}
.desti-name {
  color: #002d73;
  font-family: "Medium Font";
  letter-spacing: 0.5px;
}
.desti-route {
  color: #1d201d;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-family: "Regular Font";
}
.transit-sect .butn {
  font-size: 12px;
  min-width: 90px;
  margin: 0;
  padding: 8px;
}
.transit-popup .transit-sect:first-child {
  padding-top: 10px;
  padding-bottom: 10px;
}
.transit-popup .transit-sect:last-child {
  border-bottom: 0;
}
.transit-popup .modal-content {
  border-radius: 0;
}
.days-title {
  font-family: "Medium Font";
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #18191a;
  padding: 5px 0 5px 20px;
}
.days-count {
  font-family: "Medium Font";
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #29abe2;
  flex: 0 0 45px;
  text-align: center;
  padding: 5px 0;
}
.days-cntr {
  background-color: #f1f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.transit-sect-overflow {
  height: calc(100vh - 105px);
  overflow: auto;
}
.delivery-popup {
  max-width: 60%;
}
.delivery-inner > .row {
  padding: 20px 40px;
}
.delivery-inner {
  border-bottom: 1px solid #d6d6d6;
}
.delivery-popup .delivery-inner:last-child {
  border-bottom: 0;
}
.delivery-inner .details-title {
  margin-bottom: 0;
}
.water {
  background: url(./../img/water-bg.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  display: block;
  min-height: 540px;
}
.air {
  background: url(./../img/air-bg.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  display: block;
  min-height: 540px;
}
.manage-txt {
  padding-top: 23%;
  /* padding-top: 25%; */
  padding-left: 18%;
  /* padding-left: 22%; */
  font-family: "Bold Font";
  color: #000;
  letter-spacing: -0.5px;
}
.avarage-day {
  background: #ffcd04;
  color: #080808;
  padding: 5px 12px;
  float: left;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 40%;
  margin-top: 6%;
  font-family: "Regular Font";
}
.avrage-time {
  margin-top: 10%;
}
.origin-port {
  padding-top: 22px;
  margin-left: 45px;
  padding-left: 20%;
}
.destination-port {
  margin-top: 18%;
  margin-left: 41%;
}
.footer-manage {
  margin-left: 13%;
  padding-top: 3%;
  padding-left: 22%;
}
.visual-popup {
  max-width: 600px;
}
.visual-popup .modal-content {
  padding: 10px;
  border-radius: 0;
  border: 0;
}
/* shipment planner ends */

/* rate search starts */
.rate-radio-cntr {
  display: flex;
  margin-top: 20px;
}
.rate-search .butn {
  padding: 15px;
  min-width: 170px;
}
.rate-radio-cntr > div {
  margin: 0 15px;
}
#cbmInner .rate-radio-cntr > div {
  margin: 0 10px;
}
.rate-radio-cntr label {
  font-family: "Medium Font";
  letter-spacing: 0.5px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.rate-radio-cntr input + label::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  border: 1px solid #bebebe;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.rate-radio-cntr input:checked + label::before {
  border-color: #002d73;
}
.rate-radio-cntr input:checked + label {
  color: #002d73;
}
.rate-radio-cntr input:checked + label::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #002d73;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.disableRates {
  pointer-events: none;
  background-color: #999;
  border-color: #999;
}
.cust-img {
  width: 50px;
  margin-bottom: 10px;
}
/* rate search ends */

/* new rate search starts */
.side-selection {
  font-family: "Medium Font";
  display: inline-block;
  margin-right: 10px;
  color: #39b54a;
  text-transform: uppercase;
}
#shipmentType {
  display: block;
}
.remShipmentType,
.modeTransType,
.cntrLoadType,
.cbmType,
.typeMoveType,
.addressType,
.equipTypeType,
.locationType {
  height: 0;
  opacity: 0;
  margin-top: 0 !important;
  pointer-events: none;
}
.cntrLoadType .new-radio-rate-cntr,
.typeMoveType .new-radio-rate-cntr {
  margin-top: 0;
}
.shipmentType + .new-rate-cntr,
.modeTransport + .new-rate-cntr,
.containerLoad + .new-rate-cntr,
.cbm + .new-rate-cntr,
.typeMove + .new-rate-cntr,
.address + .new-rate-cntr,
.equipType + .new-rate-cntr,
.location + .new-rate-cntr {
  display: block;
}
.new-rate-cntr {
  padding: 30px 20px;
  border-bottom: 1px solid #d6d6d6;
  display: none;
}
.new-rate-cntr h3 {
  text-align: center;
}
.new-radio-rate-cntr {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.new-radio-rate-cntr-hide {
  display: none;
}
.new-radio-rate-cntr-show {
  display: block;
}
.new-radio-rate-cntr label {
  font-family: "Regular Font";
  letter-spacing: 0.5px;
  cursor: pointer;
  border: 1px solid #959595;
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 14px;
  min-width: 140px;
  text-align: center;
  margin: 0 10px;
}
.new-radio-rate-cntr input:checked + label {
  font-family: "Bold Font";
  color: #fff;
}
.radio-blue.new-radio-rate-cntr input:checked + label {
  background-color: #002d73;
  border-color: #002d73;
}
.radio-green.new-radio-rate-cntr input:checked + label {
  background-color: #39b54a;
  border-color: #39b54a;
}
.radio-light-blue.new-radio-rate-cntr input:checked + label {
  background-color: #29abe2;
  border-color: #29abe2;
}
.radio-brown.new-radio-rate-cntr input:checked + label {
  background-color: #333333;
  border-color: #333333;
}
.radio-brown.new-radio-rate-cntr label {
  min-width: 80px;
}
.rate-search {
  margin-bottom: 40px;
  margin-top: 40px;
}
.rate-dropdown {
  margin: 15px auto 0;
  width: 50%;
}
.rate-dropdown:focus {
  outline: none;
}
#equipAppend,
#specEquipAppend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.rate-dropdown .css-1rhbuit-multiValue {
  font-family: "Bold Font";
  letter-spacing: 0.5px;
  border-radius: 50px !important;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #333;
  color: #fff;
}
#equipTypeInner .rate-dropdown .css-1rhbuit-multiValue {
  display: none;
}
.rate-dropdown .css-12jo7m5 {
  color: #fff;
  font-size: 100%;
}
.rate-dropdown .css-yk16xz-control,
.rate-dropdown .css-yk16xz-control:hover {
  border-color: #959595;
}
.rate-dropdown .css-1pahdxg-control {
  border-color: #959595 !important;
  box-shadow: initial !important;
}
.rate-dropdown .css-yt9ioa-option {
  font-family: "Regular Font";
  text-align: left;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.spe-equ {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.spe-equ label {
  font-family: "Medium Font";
  margin-right: 20px;
}
.spe-equ .rate-dropdown {
  margin: initial;
}
.spe-equ input[type="text"],
.rate-address,
.select-text {
  font-family: "Regular Font";
  letter-spacing: 0.5px;
  border: 1px solid #959595;
  padding: 5px 10px;
}
.select-text {
  background: url("./../img/down-arrow.png") no-repeat right 10px center;
  padding-right: 30px;
  width: 175px;
}
.rate-address {
  width: 100%;
  resize: none;
  border-radius: 5px;
  height: 150px;
  margin-top: 15px;
}
.pu-edit {
  width: 15px;
  position: absolute;
  right: 0;
  top: -10px;
  cursor: pointer;
}
.equip-plus {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  cursor: pointer;
}
.equip-plus-cntr {
  position: relative;
  width: 30%;
  margin: auto;
  display: flex;
  margin-top: 15px;
}
.equip-plus-cntr .rate-dropdown {
  width: 100%;
  margin: 0;
  margin-right: 10px;
}
.equip-plus-cntr .spe-equ {
  margin: 0;
}
/* .equip-plus-cntr .spe-equ input {
  width: 100px;
  margin: 0 10px;
} */
.into-quant {
  font-family: "Medium Font";
  font-size: 12px;
  margin: 0 5px;
}
.rate-checkbox label {
  min-width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.rate-checkbox label:first-of-type {
  margin-top: 0;
}
.rate-checkbox label:last-child {
  margin-bottom: 0;
}
.spec-inner-cntr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 5px 0 5px;
  font-family: "Bold Font";
  letter-spacing: 0.5px;
  border-radius: 50px;
  /* padding: 20px 11px; */
  padding: 5px 10px;
  font-size: 14px;
  background-color: #333;
  color: #fff;
  /* background: url("../img/dummy.png") no-repeat center center; */
  /* background-size: cover; */
  position: relative;
}
#specEquipAppend .spec-inner-cntr {
  padding: 71px 14px;
}
.spec-inner-cntr input {
  width: 40px;
  /* width: 35px; */
  margin-left: 5px;
  padding-left: 5px;
}
.spec-inner-cntr b {
  font-size: 10px;
  margin: 0 7px;
}
#specEquipAppend .spec-inner-cntr i {
  top: 20px;
}
.spec-inner-cntr i {
  color: #bfb7b7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* position: absolute; */
  /* top: 0; */
  /* right: 3px; */
  margin-left: 10px;
}
.spec-inner-cntr i:hover {
  color: #fff;
}
#equipAppend .spec-inner-cntr input {
  margin-left: 0;
}
/* .spec-inner-cntr p {
  min-width: 200px;
} */
/* #equipAppend .spec-inner-cntr:last-child {
  margin-bottom: 0;
} */
.fc-radio {
  margin-top: 0;
  margin-left: 5px;
}
.temp-mar {
  margin-left: 10px;
}
.fc-radio label {
  min-width: auto !important;
  margin: 0;
  padding: 2px 10px;
  font-size: 12px;
  background-color: #fff;
  color: #000;
}
.fc-radio > div:first-child label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.fc-radio > div:last-child label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.fc-radio input:checked + label {
  background-color: #39b54a;
  color: #fff;
}
.address-full > div {
  width: 100%;
  position: relative;
}
.cbm-space > div {
  padding-right: 7px;
  padding-left: 7px;
}
.cbm-space > div:first-child {
  padding-left: 15px;
}
.cbm-space > div:last-child {
  padding-right: 15px;
}
.less-padd {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* extra */
.rate-bg {
  width: 60%;
  /* background: #aec6cf; */
  margin: 20px auto;
}
.rate-bg .new-radio-rate-cntr label {
  min-width: 120px;
}
.rate-bg .remember-forgot input + label::before {
  background-color: #fff;
}
/* .rate-bg .rate-dropdown {
  width: 100%;
} */
.rate-bg .equip-plus-cntr {
  width: 40%;
  /* width: 60%; */
}
/* .weight-icon {
  background: url("../img/weight.png") no-repeat right 5px center;
  background-size: 30px;
  padding-right: 40px !important;
} */

.sticky-dropdown + div {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  max-height: 50px !important;
  z-index: 1;
}

/* new rate search ends */

/* rate table starts */
.no-bg {
  background-color: initial;
}
.rate-table-below {
  padding-top: 20px;
}
.rate-table-left {
  background-color: #fff;
  padding: 7px;
}
.top-select .butn {
  font-family: "Medium Font";
  color: #000;
  text-transform: capitalize;
  margin: 0;
  background-color: #fff;
  border-color: #d3d3d3;
  min-width: auto;
  flex: 0 0 23%;
}
.top-select .butn:hover {
  background-color: #d3d3d3;
  color: #fff;
}
.cont-costs {
  padding: 12px;
}
.cont-costs .remember-forgot input + label::before {
  width: 16px;
  height: 16px;
}
.cont-costs .remember-forgot label {
  padding-left: 28px;
  color: #696969;
  letter-spacing: 0;
  font-size: 14px;
}
.cont-costs .remember-forgot input:checked + label::after {
  left: 6px;
  width: 5px;
  height: 9px;
  top: 49%;
}
.cont-costs span {
  font-family: "Medium Font";
  font-size: 14px;
  color: #39b54a;
}
.cont-costs .remember-forgot > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.cont-costs .remember-forgot > div:last-child {
  margin-bottom: 0px;
}
.pol-pod-maps {
  height: 160px;
  margin-bottom: 10px;
  position: relative;
}
.rate-map-ovrly {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  font-family: "Medium Font";
  color: #fff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 65px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}
.rate-map-plus {
  right: 0;
  left: initial;
  font-size: 24px;
  width: 40px;
}
.pod-maps .rate-map-ovrly {
  bottom: 0;
  top: initial;
  left: initial;
  right: 0;
}
.pod-maps .rate-map-plus {
  left: 0;
}
.pol-pod-popup label,
.pol-pod-popup input {
  width: auto;
  display: inline-block;
}
.pol-pod-popup .login-fields {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.pol-pod-popup .login-fields:last-of-type {
  margin-bottom: 0;
}
.pol-pod-popup label {
  margin-bottom: 0;
  margin-right: 20px;
  flex: 0 0 130px;
  text-align: left;
}
.pol-pod-popup input {
  flex-grow: 1;
}
.rate-table-range .input-range__track--active {
  background: #0042a9 !important;
}
.rate-table-range .input-range__track {
  border-radius: 0 !important;
  background: #0042a9 !important;
}
.rate-table-range .input-range__label {
  color: #050505 !important;
  font-family: "Regular Font" !important;
  font-size: 12px !important;
}
.rate-table-range .input-range__slider {
  border: 2px solid #0042a9 !important;
  background-color: #fff !important;
}
.rate-table-range .input-range {
  width: 250px !important;
}
.input-range__slider-container .input-range__label-container {
  display: none;
}
.rate-table-range {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
}
.rate-table-range .cust-labl {
  font-size: 12px;
  font-family: "Bold Font";
  text-transform: uppercase;
  position: absolute;
  left: 25px;
  top: calc(50% - 13px);
  transform: translateY(-50%);
}
.rate-table-range .cust-labl.clr-red {
  right: 25px;
  left: initial;
}
.rate-table-header {
  background-color: #fff;
  display: flex;
  align-items: center;
}
.rate-table-header > * {
  padding-right: 25px;
  padding-left: 25px;
  /* border-right: 1px solid #d6d6d6; */
}
/* .rate-table-header > *:last-child {
  border-right: 0;
} */
.rate-table-header .title-sect {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.react-rate-table .ReactTable .rt-thead {
  display: none !important;
}
.react-rate-table .ReactTable .ReactTable .rt-thead {
  display: flex !important;
}
.rate-tab-img {
  width: 100px;
  display: inline-block;
}
.react-rate-table .ReactTable .rt-th,
.react-rate-table .ReactTable .rt-tbody .rt-td {
  padding: 15px 20px !important;
}
.rate-tab-check.cont-costs .remember-forgot input + label::before {
  top: -4px;
}
.rate-tab-check.cont-costs .remember-forgot label {
  padding-left: 36px;
}
.rate-tab-check.cont-costs .remember-forgot input:checked + label::after {
  transform: translateY(-100%) rotate(45deg);
}
.react-rate-table .ReactTable.-striped .rt-tr .rt-td:last-child {
  text-align: right;
}
.ReactTable .ReactTable .rt-thead .rt-th,
.ReactTable .ReactTable .rt-thead .rt-td {
  border-right: 1px solid #dcdcdc !important;
  font-family: "Bold Font";
  font-size: 14px;
  color: #000;
  background-color: #fff;
}
.ReactTable .ReactTable .rt-thead.-headerGroups {
  display: none !important;
}
.ReactTable .ReactTable .rt-thead .rt-th:last-child {
  border-right: 0 !important;
}
.ReactTable .rt-thead.-header {
  box-shadow: initial !important;
  background: #cbcbcb;
  /* background: #fff; */
  border-bottom: 1px solid #dcdcdc;
}
.ReactTable .ReactTable .rt-tbody .rt-tr-group {
  border-bottom: 1px solid #dcdcdc !important;
}
.ReactTable .ReactTable .rt-tbody .rt-tr-group:last-child {
  border-bottom: 0px !important;
}
.ReactTable .ReactTable .rt-tbody .rt-td {
  text-align: center;
}
.ReactTable .ReactTable .rt-tbody .rt-td:first-child {
  text-align: left;
}
.ReactTable .ReactTable .rt-thead .rt-tr .rt-th:first-child {
  text-align: left;
}
.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background-color: #fff !important;
}
.ReactTable .ReactTable:before,
.view-user-inner:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #fff;
}
.ReactTable .ReactTable {
  position: relative;
}
.bottom-profit {
  font-family: "Regular Font";
  color: #5f5f60;
  margin-top: 20px;
  text-align: right;
}
.pol-mar > div {
  padding: 20px 0;
  border-bottom: 1px solid #d6d6d6;
  position: relative;
}
.pol-mar > div:first-child {
  padding-top: 0;
}
.pol-mar > div:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.pol-mar .equip-plus {
  right: -25px;
}
.rate-table-butn {
  padding-right: 20px;
  padding-left: 20px;
}
.rate-tab-drop select {
  padding: 10px 40px 10px 20px;
  background-position: right 15px center;
  width: 200px;
}
.pac-container {
  z-index: 9999;
}
/* rate table ends */

/* spot rate starts */
.spot-rate {
  background-color: #fff;
  padding: 40px;
  min-height: calc(100% - 44px);
  text-align: center;
}
.no-rate {
  min-height: 140px;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-rate p {
  font-family: "Italic Font";
  color: #77787b;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.spot-rate-popup h3 {
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: -10px;
}
/* spot rate ends */

/* booking table starts */
.tab-icon-view {
  width: 20px;
}
/* booking table ends */

/* dashboard starts */
.dash-outer {
  padding: 10px;
}
.dash-sects {
  background-color: #f1f2f2;
  height: 100%;
}
.dash-sects-cntr {
  margin-right: -5px;
  margin-left: -5px;
}
.dash-sects-cntr > div {
  margin-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
}
.dash-sects h3 {
  color: #002d73;
  border-bottom: 1px solid #cdcece;
  padding: 12px 8px;
  text-align: center;
}
.dash-sects-dtls {
  padding: 6px 12px;
  padding-right: 0;
}
.dash-sects-dtls .fa-spin {
  text-align: center;
  width: 100%;
}
.dash-sects-dtls-inner {
  max-height: 271px;
  overflow: auto;
  padding-right: 12px;
}
.dash-sects-dtls-inner::-webkit-scrollbar {
  width: 5px;
}
.dash-sects-dtls-inner::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 10px;
}
.dash-sects-dtls-inner::-webkit-scrollbar-thumb {
  background: #cac8c8;
  border-radius: 10px;
}
.dash-sects-dtls-inner::-webkit-scrollbar-thumb:hover {
  background: #a5a3a3;
}
.dash-sects-dtls p {
  color: #6d6e71;
  font-family: "Medium Font";
  font-size: 14px;
  margin-bottom: 5px;
}
.dash-sects-dtls p:last-child {
  margin-bottom: 0;
}
.dash-sects-dtls p span {
  color: #6d6e71;
  font-family: "Bold Font";
}
.three-dots {
  position: relative;
}
.three-dots::before {
  content: "...";
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  color: #fff;
}
.dash-map {
  position: relative;
  /* min-height: calc(100vh - 250px); */
  min-height: calc(100vh - 332px);
}
.map-icon-cntr {
  width: 45px;
  background: #0142aa;
  padding: 10px;
  border-radius: 50%;
  line-height: 1;
  display: inline-block;
  text-align: center;
  position: absolute;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.map-icon-cntr .fa-bars {
  color: #fff;
}
.map-filter {
  position: absolute;
  top: 10px;
  right: 60px;
}
.map-filter .map-icon-cntr:first-child {
  position: relative;
  z-index: 1;
}
.map-filter .map-icon-cntr:nth-child(5) {
  left: -50px;
}
.map-filter .map-icon-cntr:nth-child(4) {
  left: -100px;
}
.map-filter .map-icon-cntr:nth-child(3) {
  left: -150px;
}
.map-filter .map-icon-cntr:nth-child(2) {
  left: -200px;
}
.rem-icon {
  left: 0 !important;
}
.dash-hbl {
  color: #002d73 !important;
  font-size: 14px !important;
}
.hbl-bor {
  border-bottom: 0 !important;
}
.loader-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5) url("../img/table-loader.gif") no-repeat center
    center;
  background-size: 80px;
  z-index: 5;
}
.dash-search-cntr {
  position: absolute;
  top: 60px;
  left: 10px;
}
.dash-search-cntr .fa-search {
  background: #002d73;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  cursor: pointer;
}
/* dashboard ends */

/* view user starts */
.view-user-table .ReactTable .rt-th,
.view-user-table .ReactTable .rt-tbody .rt-td {
  padding: 15px 20px !important;
  min-height: 47px;
}
.view-user-table .ReactTable .rt-tbody .rt-expandable + .rt-td {
  text-align: center;
}
.view-user-inner {
  padding: 20px;
  background-color: #fff;
  position: relative;
}
.view-user-title {
  color: #8f8f8f;
  font-family: "Bold Font";
}
.view-user-desc {
  font-family: "Regular Font";
  color: #999999;
  margin-top: 3px;
}
.view-user-inner .row > div {
  margin-top: 20px;
}
.view-user-table .rt-tr .rt-th:first-child {
  background-image: none;
}
/* view user starts */

/* analytics starts */
.analy-radio {
  margin: 0;
  justify-content: initial;
}
.analy-radio label {
  margin: 0;
  border-radius: 0;
  color: #29abe2;
  border-color: #29abe2;
  min-width: 100px;
}
.ana-icon-white {
  display: none;
}
.analy-radio input:checked + label .ana-icon-white {
  display: block;
}
.analy-radio input:checked + label .ana-icon-blue {
  display: none;
}
.analy-radio-icons label {
  min-width: auto;
  padding: 5px 10px;
  height: 33px;
}
.analy-radio-icons label img {
  width: 20px;
}
.ana-radio-cntr {
  display: flex;
  margin-bottom: 20px;
}
.ana-radio-cntr > div {
  margin-right: 20px;
}
.ana-radio-cntr > div:last-child {
  margin-right: 0px;
}
.ana-radio-cntr .login-fields select {
  font-size: 14px;
  padding: 7px 35px 7px 15px;
  background-position: right 15px center;
  min-width: 120px;
}
.ana-radio-cntr span {
  font-family: "Regular Font";
  margin-right: 10px;
}
.react-datepicker-wrapper .ana-to {
  padding: 7px 35px 7px 15px;
  font-size: 14px;
  background-size: 16px;
  background-position: right 15px center;
}
.ana-viw {
  display: flex;
}
.ana-viw > div {
  margin-right: 20px;
}
.ana-viw > div:last-child {
  margin-right: 0px;
}
.fix-width-label label {
  min-width: 50px;
}
/* analytics ends */

/* rate finalizing starts */
.rate-fin-tit {
  padding-top: 25px;
  padding-bottom: 20px;
}
.rate-final-contr {
  padding: 0 15px;
}
.rate-final-contr .details-title {
  margin-bottom: 0;
}
.rate-final-contr .details-para {
  font-size: 16px;
  font-family: "Medium Font";
}
.rate-final-contr .row > div {
  margin-top: 20px;
}
.rate-final-contr .react-rate-table {
  background-color: #f1f2f2;
  margin-bottom: 20px;
}
.more-padd {
  padding-right: 20px;
  padding-left: 20px;
}
.rate-final-contr select,
.rate-final-contr input {
  margin-top: 10px;
}
.rate-final-contr .login-fields {
  margin-bottom: 0px;
}
.rate-final-left {
  /* padding: 15px 0; */
  padding: 0;
  height: 100%;
}
.rate-final-left .cont-costs {
  padding-right: 0;
  padding-left: 0;
}
.rate-final-left > div {
  padding: 15px;
  border-bottom: 1px solid #d6d6d6;
}
.amnt-popup .modal-body {
  padding: 30px 20px;
}
.amnt-popup .details-title {
  flex: 0 0 150px;
}
.amnt-popup .modal-body .d-flex {
  margin-bottom: 20px;
}
.amnt-popup .txt-cntr .d-flex:last-child {
  margin-bottom: 0px;
}
.spe-equ .rate-address {
  border-radius: 0;
  margin: 0;
  height: 80px;
}
.txt-add {
  width: 100%;
  border: 0;
  letter-spacing: 0.5px;
  background-color: #ededed;
  padding: 10px 20px;
  font-family: "Medium Font";
  resize: none;
  height: 100px;
}
.txt-add::placeholder {
  font-family: "Italic Font";
  color: #77787b;
}
.crncy-field {
  width: 20px !important;
  margin-left: 15px;
}
.no-butn {
  pointer-events: none;
}
.rate-edit-icon {
  width: 18px;
}
.still-maersk {
  width: 50px;
}
.modal-body h3 {
  background: #002d73;
  color: #fff;
  padding: 15px 0;
}
/* rate finalizing ends */

/* add user starts */
.add-user-cntr {
  padding: 0 30px;
}
.add-user-cntr .remember-forgot > div:first-child label {
  margin-left: 0;
}
.add-user-cntr .remember-forgot > div:last-child label {
  margin-right: 0;
}
.dynamic-fields .remember-forgot {
  justify-content: initial;
  margin-top: 10px;
}
.dynamic-fields > div {
  margin-bottom: 20px;
}
.dynamic-fields > div:last-child {
  margin-bottom: 0px;
}
/* add user ends */

/* sales activity log starts */
.sales-act-dropdown select {
  padding: 10px 40px 10px 20px;
  background-position: right 15px center;
  background-size: 10px;
  margin-right: 20px;
}
.sales-act-dropdown {
  margin: 0;
  margin-right: 20px;
}
/* sales activity log ends */

.noti-drop-down p {
  white-space: nowrap;
  font-family: "Medium Font";
  padding: 2px 0;
  font-size: 14px;
}
.noti-drop-down a {
  color: #39b54a !important;
}
.noti-drop-down div {
  padding: 10px 20px;
  border-bottom: 1px solid #d6d6d6;
}
.noti-drop-down {
  max-height: 70vh;
  overflow: auto;
}

/* reports starts */
.report-cntr {
  padding: 0 15px 35px;
}
/* reports ends */

/* chetan css ends */

/* -------------------------------Deepak Savani----------------------------- */

.cls-header-1 {
  height: auto;
  background-color: #fff;
}

.cls-header-1 .row {
  margin: 0;
}
.header-log {
  width: 145px;
  padding: 10px;
}

.header-btn {
  background-color: #29aae3;
  border: 1px solid #29aae3;
  border-radius: 50px;
  color: #fff;
  padding: 5px 20px;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.header-btn:hover {
  color: #29aae3;
  background-color: #fff;
}
.cancel-btn {
  background-color: #9dafbd;
  border-color: #9dafbd;
}
.cancel-btn:hover {
  background-color: #9dafbd;
  color: #fff;
}
.header-ul {
  list-style: none;
  display: flex;
  float: right;
  margin: 0;
}
.header-ul li {
  padding: 0 15px;
  border-right: 1px solid #cccccc;
}
.header-ul li:last-child {
  margin: 0;
  border-right: none;
  padding: 0;
}

.header-bell-icon {
  height: 35px;
  width: 35px;
  margin-top: 7px;
  cursor: pointer;
}
.header-chat-icon {
  height: 30px;
  width: 35px;
  padding-right: 7px;
  cursor: pointer;
}

.header-login-actore-icon {
  height: 50px;
  width: 50px;
  padding: 5px 0;
}
.login-name {
  font-size: 14px;
}

.login-actore-text {
  margin: 0;
  font-size: 12px;
  color: #999;
  font-size: 10px;
  line-height: 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header-ul-login-dtls {
  list-style: none;
  display: flex;
  padding: 0;
  max-width: 200px;
}
.loign-dtlss {
  overflow: hidden;
}

.prof-img {
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.prof-name {
  font-family: "Bold Font";
  text-transform: capitalize;
  color: #002d73;
  font-size: 18px;
}
.prof-comp {
  font-family: "Medium Font";
  color: #39b54a;
  font-size: 14px;
}

.header-ul-login-dtls li {
  padding-right: 5px;
  border: none;
}
.header-ul-login-dtls li:last-child {
  margin-top: 5px;
}

.cls-flside {
  width: 16%;
  float: left;
  height: auto;
  background-color: #0142aa;
  border: none;
}

.header-phone-li {
  padding: 10px;
}
.header-phone-icon {
  height: 30px;
  width: 35px;
  cursor: pointer;
}
.sidemenu-ul-li {
  padding: 15px;
  border-bottom: 0.5px solid #265eb5;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.sidemenu-ul {
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
}
.header-greencounter-icon {
  height: 30px;
  width: 35px;
  cursor: pointer;
  margin-right: 10px;
}

.qr-code-dropdown {
  position: absolute;
  will-change: transform;
  top: 8px !important;
  left: -120px !important;
  transform: translate3d(0px, 30px, 0px);
}

.profile-dropdown {
  /* top: 18px !important; */
  right: 0;
  /* left: -35px !important; */
}

.rmarrow .dropdown-toggle::after {
  display: none;
}

.rmstylebtn {
  border: none;
  background-color: white;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.drp-usericon {
  width: 30px;
  height: 30px;
}
.profile-ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.profile-ul li {
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
.profile-ul li:last-child {
  border: none;
  padding: 7px;
  margin: 0;
}
.lastlogin-ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.lastlogin-lbl {
  font-size: 9px;
  display: block;
}

.lastlogin-ul li {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #cccccc;
  border: none;
}
.lastlogin-ul li:last-child {
  border: none;
  padding: 4px;
}
.activitylog-li {
  color: #092c74;
  padding: 10px !important;
}
.activitylog-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
}
.activitylog-li:hover {
  background-color: #cccccc;
}
.profile-setting-li {
  color: #092c74;
  padding: 10px !important;
}
.profile-setting-li:hover {
  background-color: #cccccc;
}
.logout-li {
  color: #092c74;
}
.logout-li:hover {
  background-color: #cccccc;
}
.profilesetting-icon {
  width: 30px;
  height: 30px;
}
.lastlogin-li {
  padding: 0px 0px 0px 10px !important;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
.lbl-cursor {
  cursor: pointer;
}
.shipmentli {
  padding: 1px;
}
.shipmentli .card {
  border: 0;
  border-radius: 0;
}

.shipmentli .card .card-header {
  border: none;
  background-color: #0142aa;
  color: white;
  padding: 10px 0px 0px;
  border-radius: 0;
}
.shipmentli .card .collapsing {
  background-color: #0142aa;
}

.shipmentli .card .card-header button {
  color: white;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
}
.shipmentli .card .card-header button:hover {
  text-decoration: none;
}
.shipmentli .card .collapse .card-body {
  background-color: #0142aa;
  padding: 0px 0px 0px 55px;
  color: #8fb7f7;
}
.shipment-ul {
  list-style: none;
  display: block;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border: 1px solid #8fb7f7;
}
.shipment-ul li {
  padding: 5px;
}
.shipmentli .card .show {
  background-color: #0142aa;
  text-decoration: none;
}

.shipment-ul-lilbl2 {
  float: right;
  text-align: right;
}
.sidemenu-ul2 {
  list-style: none;
  display: flex;
  padding: 0px;
  color: white;
  border-top: 1px solid #265eb5;
}
.sidemenu-ul2 li {
  text-align: center;
  padding: 15px;
  border-right: 1px solid #265eb5;
}
.sidemenu-ul2 li:last-child {
  border-right: none;
}
.inofIcon {
  width: 35px;
  height: 35px;
}
.settingIcon {
  width: 35px;
  height: 35px;
}
.popovercls .popover-header {
  background-color: white;
}
.popovercls .popover {
  right: -20px !important;
  left: initial !important;
  top: 50px !important;
}
.grncuntr .card {
  margin-top: 20px;
  border-radius: 1px;
  /* width: 690px; */
  border: none;
}

/* .grncuntr #reactgooglegraph-1{
    padding: 0px 50px 0px 40px;
 } */

.brncuntr-select {
  background-color: #29aae3;
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 5px 20px;
  font-size: 12px;
  margin-top: 10px;
  float: right;
  margin: 20px;
}
.grncuntr-lbl {
  font-weight: 500;
  padding: 8px;
  font-size: 20px;
}
.grncuntr svg {
  width: 400px !important;
  height: 300px !important;
}
.carbonemn-card {
  background-color: #29aae3;
}
.brncuntr-select1 {
  background-color: #8fdeff;
  border: none;
  border-radius: 50px;
  color: #000000;
  font-weight: 700;
  padding: 5px 20px;
  font-size: 12px;
  margin-top: 10px;
  float: right;
  margin: 20px;
}
.grncuntr-lbl1 {
  padding: 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}

.carbonemn-card svg {
  width: 470px !important;
  height: 187px !important;
}

.dot {
  height: 180px;
  width: 93%;
  border-radius: 100%;
  display: inline-block;

  /* border: 1px solid #f1f3f2; */
  padding: 5px 8px;
  position: relative;
  margin-left: 60px;
}
.dot1 {
  height: 200px;
  width: 86%;
  border-radius: 100%;
  display: inline-block;
  margin: 17px 0px 38px 17px;
  border: 15px solid #39b54a;
}
.sidemenu-ul-li a {
  color: #fff;
}

.greenchart-img {
  position: absolute;
  height: 18px;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 40px;
}
.greenchartlbl {
  font-size: 13px;
  color: #666;
  font-weight: bolder;
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  line-height: 20px;
  bottom: 15px;
  text-transform: uppercase;
}
.counterval {
  font-weight: bolder;
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  line-height: 20px;
  text-transform: uppercase;
  bottom: 65px;
  font-size: 18px;
  color: #ed0124;
}
.greenchartlbl1 {
  font-size: 18px;
  color: #666;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  width: 50%;
  margin-left: 155px;
}

.girdevtred {
  color: #eb0029;
}
.girdevtyellow {
  color: #ffb400;
}
.girdevtgreen {
  color: #39b54a;
}

.actionicon {
  width: 20px !important;
  margin-left: 20px;
  cursor: pointer;
}
.action-cntr a:first-child .actionicon {
  margin-left: 0;
}
.grncntrsld .rangeslider-vertical .rangeslider__handle {
  width: 30px;
  height: 20px;
  left: -10px;
  box-shadow: none;
  border-radius: 10%;
  background-color: #63cd16;
  border: none;
}

.grncntrsld .rangeslider-vertical .rangeslider__labels {
  top: 10px;
}

.grncntrsld .rangeslider-vertical .rangeslider__fill {
  background-color: #63cd16;
}
.google-icon-div {
  width: 35px;
  height: 35px;
}
.google-icon {
  width: 30px;
  height: 30px;
}
.yellowicon {
  width: 30px;
  height: 30px;
}
.mapcontainerno {
  color: #39b54a;
  font-size: 16px;
  font-weight: 500;
  display: inline;
  margin: 10px;
  padding-top: 10px;
  /* cursor: pointer; */
}
.gm-style-iw {
  width: 265px;
}
.greenicon {
  display: inline;
  /* width: 16px;
  height: 16px; */
}
.viewmore-span {
  text-align: center;
  float: right;
  color: #002d73;
  font-size: 12px;
  padding: 6px;
  cursor: pointer;
}
.polpodcls {
  margin-bottom: 4px;
}
.polpodcls > div:first-child .rate-dropdown {
  margin-right: 0;
}
.polpodcls > div:last-child .rate-dropdown {
  margin-left: 0;
}
.polpodcls .css-1hb7zxy-IndicatorsContainer {
  display: none;
}
.pinmodal .accordion .card-header:after {
  font-family: "FontAwesome";
  content: "\f068";
  color: #a5a5a5;
  float: left;
  padding-top: 5px;
}
.pinmodal .accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
  color: #39b54a;
  float: left;
  padding-top: 5px;
}
.pinmodal .card {
  border: none;
}
.pinmodal .card-header {
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.pinmodal .card .card-body {
  padding: 5px;
}

.pinmodal .mb-0 > div {
  display: block;
  position: relative;
}
.pinmodal .mb-0 > div:after {
  content: "\f067";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  color: #39b54a;
  float: left;
}
.pinmodal .mb-0 > div[aria-expanded="true"]:after {
  content: "\f068";
  color: #a5a5a5;
  float: left;
}
.mapinvoice {
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
}
.salesuserPopup .butn {
  margin-top: 0;
}
.autocom > div {
  display: block !important;
  position: relative;
}
.remember-forgot-1 {
  margin-top: 20px;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  text-align: right;
}
.remember-forgot-1 a {
  font-family: "Medium Font";
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
  text-decoration-color: transparent;
}
.remember-forgot-1 a:hover {
  text-decoration-color: inherit;
}
.login-fields-1 {
  margin-bottom: 0;
}
.login-fields-1 input,
.login-fields-1 select {
  width: 100%;
  border: 0;
  /* font-size: 18px; */
  letter-spacing: 0.5px;
  background-color: #ededed;
  padding: 15px 25px;
  font-family: "Medium Font";
}
.login-fields-1 select {
  background: #ededed url("./../img/down-arrow.png") no-repeat right 25px center;
  padding-right: 50px;
}
.login-fields-1 input::placeholder {
  font-family: "Italic Font";
  color: #77787b;
}
.login-fields {
  margin-bottom: 25px;
}

.mapIframe {
  width: 100%;
  height: 100%;
  border: none;
}

.cmd-select {
  font-family: "Regular Font";
  letter-spacing: 0.5px;
  border: 1px solid #959595;
  padding: 5px 10px;
}
.modelselecteqt .css-1rhbuit-multiValue {
  display: none;
}
 
/* --------------------------------------------------------------------------- */

/*--------------------------------- Rashmi CSS (Start) ---------------------------------*/

.dynamic-fields select {
  background: #ededed
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAAGXRFW…rC+VBxBnTFIFANxOuh7PVQPhywYLG2AIivA/FMdAmAAAMAFzMPPPC6phkAAAAASUVORK5CYII=)
    no-repeat right 25px center;
  padding-right: 50px;
  margin-bottom: 10px;
}

.dynamic-remove {
  position: absolute;
  left: 100%;
  margin-left: 20px;
  width: auto !important;
  background-color: #fff;
  border: 0;
  margin-top: 12px;
}
.dynamic-remove img {
  width: 22px;
}
.rate-active {
  color: #fbc915 !important;
}
.shareicon {
  font-size: large !important;
  margin-right: 25px;
}

.no-sched-avail {
  padding: 50px !important;
  text-align: center;
  font-size: 24px;
  font-family: "Bold Font";
}

.advsearchicon {
  font-size: xx-large !important;
  margin-right: 25px;
}

.track-dropdown {
  margin: 0px !important;
  width: 100% !important;
}

.tree-img {
  width: 100px;
  float: right;
  margin: 15px;
  height: 90px;
}

.tree-dv {
  margin-top: 10px;
  padding-left: 11px;
  font-size: 40px;
  color: green;
  font-family: inherit;
}

.modeoftrans-img {
  width: 30px;
  float: right;
}

.horizontal-line {
  color: blue;
  margin-top: auto;
}

.shipment-status {
  color: #39b54a !important;
}

.evt-add-btn {
  float: right;
  margin-right: 25px;
}

.dash-map1 {
  position: relative;
  min-height: 100vh;
}

.advsearch-popup {
  margin: 10px auto;
  max-width: 90%;
}

.advsearch-sect {
  padding: 20px 40px;
  border-bottom: 1px solid #d6d6d6;
}

.advsearch-sect .butn {
  font-size: 15px;
  min-width: 136px;
  margin: 0;
  padding: 10px;
}

.auto-cmp + div {
  display: block !important;
}

.butnAdv {
  background-color: cadetblue;
  color: #fff;
  border: 1px solid cadetblue;
  font-family: "Bold Font";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: 40px;
  padding: 4px;
  /* border-radius: 50px; */
  margin-right: 20px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.butnAdv:hover {
  background-color: white;
  color: cadetblue;
}
/*--------------------------------- Rashmi CSS (End) ---------------------------------*/
